# Telegram Bot 配置
BOT_TOKEN=8156576852:AAGdu2Uj7gbQD_VtteRsIoy99IcAAAAA

# TronGrid API 配置 (https://www.trongrid.io/ 获取免费API Key)
TRONGRID_API_KEY=ce9999bd-e983-4ca6-b23b-addcc33dfffss

# 监控轮询间隔(秒)
POLL_INTERVAL=10

# 通知发送的 Chat ID (用户/群组/频道 ID，机器人会把交易通知发送到这里)
NOTIFY_CHAT_ID=81058861111

# 数据库文件路径
DB_PATH=wallets.db

# 日志级别 (DEBUG, INFO, WARNING, ERROR)
LOG_LEVEL=INFO

# HTTP 代理地址 (可选，如需科学上网访问 TronGrid API)
# 示例: http://127.0.0.1:7890 或 socks5://127.0.0.1:1080
PROXY_URL=

# 能量租赁 TRX 收款地址
ENERGY_TRX_ADDRESS=TMDFPVbapQamkPVXLFDccyzRVxVAAAAAAA

# 电报会员购买链接
TG_PREMIUM_URL=https://t.me/kttgvip_bot
